@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,300);
* {
	margin:0; padding:0;
}
h3{
	font-family: raleway;
	font-weight: 400;
	color: #7ad3ab;
	font-size: 30px;
}
#sizing{
	width: 1280px;
	height: 800px;
	border-width: 3px;
	border-color: black;
	border: solid;
	margin: auto;
	background-color: #4d4d4d;
}
.primaryElement{
	margin-right: 20px;
	margin-top: 20px;
	float: left;
	width: 400px;
	height: 685px;
	background-color: red;
}
#thermostat{
	margin-left: 20px;
}
#settingsBar{
	margin-top: 20px;
	float: left;
	height: 55px;
	background-color: black;
	width: 1240px;
	margin-left: 20px;
	color: #7ad3ab;
}
#config{
	margin-left: 10px;
	line-height: 55px;
	float: left;
}
#configText{
	float: left;
}
#configIcon{
	float: left;
	margin-top: 10px;
	margin-right: 8px;
}
#lang{
	float: right;
	margin-right: 15px;
	margin-top: 2px;
}
#englishIcon{
	margin-right: 10px;
}

