@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,300);
* {
	margin:0; padding:0;
}
#sizing{
	width: 1280px;
	height: 800px;
	border-width: 3px;
	border-color: black;
	border: solid;
	margin: auto;
}