#percentage{
	font-size:108px;
	color:#7ad3ab;
	font-weight: 100;
	position:absolute;
	left:398px;
	top:290px;
	width:200px;
	text-align: center;
}
#dynamicPercent {
	font-size: 60px;
	font-weight: 300;
	color: #7ad3ab;
	padding-top: 32px;
}
.icon {position:absolute;}
#bulb {top:348px; left:260px;}
#fan {top:220px; left:628px;}
#fridge {top:520px; left:352px;}
#cook {top:498px; left:608px;}
#wash {top:178px; left:346px;}
.icon:hover {
	-webkit-filter:brightness(10);
	-moz-filter:brightness(10);
	filter:brightness(10);
}