#percentage{
	font-size:108px;
	color:#7ad3ab;
	font-weight: 100;
	position:absolute;
	left:398px;
	top:290px;
	width:200px;
	text-align: center;
}
#dynamicPercent {
	font-size: 60px;
	font-weight: 300;
	color: #7ad3ab;
	padding-top: 32px;
}