#titleBox{
	width:50%;
	height: 80px;
	padding-left: 42px;
	margin-left: 16px;
	background-image: url(../img/edit.png);
	background-position: left;
	background-repeat: no-repeat;
	line-height: 80px;
	float: left;
}
#clock{
	float: right;
	line-height: 80px;
	margin-right: 40px;
}
#clockText, #dateText{
	float: right;
}
#dateText{
	margin-right: 20px;
}