#floorPlan{
	background-image: url(../img/outline.svg);
	height: 588px;
	position: relative;
}
.lightIndicator{
	position: absolute;
	text-align: center;
	width: 100px;
}
#light1{
	top: 120px;
	left: 160px;
}
#light2{
	top: 120px;
	left: 440px;
}
#light3{
	top: 120px;
	right: 160px;
}
#light4{
	top: 370px;
	left: 160px;
}
#light5{
	top: 370px;
	right: 160px;
}
.lightCount{
	height: 70px;
	width: 120px;
	margin: auto;
	margin-left: 18px;
	padding-top: 30px;
	float: left;
}
#onCount, #offCount, #offCountIcon, #onCountIcon{
	float: left;
}
#onCount, #offCount{
	padding-top: 45px;
}