.selectionButton{
	height: 192px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	padding-top: 4px;
	background: -webkit-linear-gradient(#404040, #545454);
	background: -o-linear-gradient(#404040, #545454);
	background: -moz-linear-gradient(#404040, #545454);
	background: linear-gradient(#404040, #545454);
}
#selectThermo{
	background: #303030;
}
#thermoBlock{
	width: 300px;
	margin-top: -4px;
	height: 196px;
	position: absolute;
	z-index: 70;
	background: #303030;
	opacity: .8;
}
#lightsBlock, #feedbackBlock{
	width: 300px;
	margin-top: -4px;
	height: 196px;
	position: absolute;
	z-index: 70;
	background: #303030;
	display: none;
	opacity: .8;
}