.selectionButton{
	height: 192px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	padding-top: 4px;
	background: -webkit-linear-gradient(#404040, #545454);
	background: -o-linear-gradient(#404040, #545454);
	background: -moz-linear-gradient(#404040, #545454);
	background: linear-gradient(#404040, #545454);
}
#selectThermo{
	background: #303030;
}
