#slider{
	width: 600px;
	height: 588px;
	float: left;
}
#readOuts{
	width: 380px;
	height: 588px;
	float: left;
}
#tempSetReadOut{
	height: 338px;
	padding-top: 20px;
	width: 380px;
}
#tempCurrentReadOut{
	height: 230px;
	width: 380px;
}
#sliderElement{
	left: 280px;
	height: 500px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	float: left;
}
.ui-slider-vertical {
	width: 8px;
	height: 100px;
	background: -webkit-linear-gradient(#deec74, #7ad3ab, #3cadff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#deec74, #7ad3ab, #3cadff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#deec74, #7ad3ab, #3cadff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#deec74, #7ad3ab, #3cadff); /* Standard syntax */
	border-width: 0px;
}
.ui-slider-vertical .ui-slider-handle {
	width: 100px;
	height: 10px;
	left: -50px;
	border-radius: 10px;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-handle {outline: none;}
#slider{
	background: -webkit-radial-gradient(); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(); /* For Firefox 3.6 to 15 */
	background: radial-gradient(); /* Standard syntax */
}
#labels{
	position: relative;
	top: 20px;
	float: left;
	height: 550px;
	width: 100px;
	left: 330px;
}
#minTempLabel{
	position: absolute;
	bottom: 0px;
}
#maxTempLabel{
	position: absolute;
	top: 0px;
}
#setReadOutFar{
	width: 380px;
	height: 300px;
}
#setReadOutCel{
	width: 380px;
	height: 300px;
}
#readOuts p{
	margin-left: 150px;
}
#tempCurrentReadOut h6{
	font-size: 80px;
}
#tempCurrentReadOut p{
	margin-left: 170px; 
	font-size: 40px;
}
#dynamicCel h6, #dynamicFar h6{
	font-size: 60px;
	font-weight: 300;
}
#dynamicCel p, #dynamicFar p{
	font-size: 30px;
}
#dynamicFar .en, #dynamicFar .es, #dyanmicCel .en, #dynamicCel .es{
	font-size: 25px;
}
