#slider{
	width: 600px;
	height: 588px;
	float: left;
}
#readOuts{
	width: 380px;
	height: 588px;
	float: left;
}
#tempSetReadOut{
	height: 358px;
	width: 380px;
	background-color: blue;
}
#tempCurrentReadOut{
	height: 230px;
	width: 380px;
	background-color: yellow;
}
#sliderElement{
	margin: auto;
	height: 500px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.ui-slider-handle {
width:24px;
height:24px;
position:absolute;
top:-7px;
margin-left:-12px;
z-index:200;
background:url(slider-button.png);
}
